<section class="each">
    {{#each products}}
        <article class="product-card">
            <img src="{{this.img}}" alt="{{this.titulo}}">
            <h3>{{this.titulo}}</h3>
            <p>Preço: R$ {{this.price}}</p>
            <p><a href="/product/{{this.id}}">Ver mais</a></p>
        </article>
    {{/each}}
</section>
