<section class="product-detail">
    <img src="{{product.img}}" alt="{{product.titulo}}">
    <h1>{{product.titulo}}</h1>
    <p>Preço: R$ {{product.price}}</p>
    <p>{{product.desc}}</p>
    <p><a href="/catalogo">Voltar ao catálogo</a></p>
</section>
